body{
	background-color: #F0F2F5;
}
.help_line{
	text-transform: capitalize;
	background-color: #F17E3A;
	padding-top: 11px;
	padding-bottom: 11px;
}
#top-navbar .uk-navbar-container {
	height: 60px;
}
#top-navbar .uk-navbar-left>a {
	padding-bottom: 28px;
}
#top-navbar .uk-navbar-center {
	padding-bottom: 20px;
}
#top-navbar .uk-navbar-nav>li>a {
	padding-bottom: 20px;
}

#bottom-navbar .uk-navbar-container {
	height: 40px;
}
#bottom-navbar .uk-container {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav>li>a {
	padding-bottom: 40px;
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
}














