body{
	background-color: #F0F2F5;
}
.help_line{
	text-transform: capitalize;
	background-color: #F17E3A;
	padding-top: 11px;
	padding-bottom: 11px;
}
#top-navbar .uk-navbar-container {
	height: 60px;
}
#top-navbar .uk-navbar-left>a {
	padding-bottom: 28px;
}
#top-navbar .uk-navbar-center {
	padding-bottom: 20px;
}
#top-navbar .uk-navbar-nav>li>a {
	padding-bottom: 20px;
}

#bottom-navbar .uk-navbar-container {
	height: 40px;
}
#bottom-navbar .uk-container {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav>li>a {
	padding-bottom: 40px;
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
}



#category-section a {
	text-decoration: none;
	color: #696969;
}
#category-section img {
	width: 40px;
	margin-right: 15px;
	margin-left: 20px;
}

#category-section p{
	background-color: #fff; 
	border-radius: 4px; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	border: 1px solid #f4ca4b;
	font-size: 14px;
	font-weight: 500;
}





@media(max-width: 575px){

	#category-section img {
		width: 24px;
		margin-left: 15px;
		margin-right: 10px;
		border-radius: 2px;
	}

	#category-section p{
		font-size: 11px;
		padding-top: 15px; 
		padding-bottom: 15px; 
		font-weight: 500;
	}


}













