body{
	background-color: #F0F2F5;
}
.help_line{
	text-transform: capitalize;
	background-color: #F17E3A;
	padding-top: 11px;
	padding-bottom: 11px;
}
#top-navbar .uk-navbar-container {
	height: 60px;
}
#top-navbar .uk-navbar-left>a {
	padding-bottom: 28px;
}
#top-navbar .uk-navbar-center {
	padding-bottom: 20px;
}
#top-navbar .uk-navbar-nav>li>a {
	padding-bottom: 20px;
}

#bottom-navbar .uk-navbar-container {
	height: 40px;
}
#bottom-navbar .uk-container {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav {
	height: 40px;
}
#bottom-navbar .uk-navbar-nav>li>a {
	padding-bottom: 40px;
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
}



#category-section a {
	text-decoration: none;
	color: #696969;
}
#category-section img {
	width: 45px;
}

#category-section p{
	background-color: #fff; 
	border-radius: 4px; 
	padding-top: 15px; 
	padding-bottom: 15px; 
	border-top: 1px solid #FFC107;
	font-size: 13px;
	font-weight: 500;
}

#category-section p:hover{
	color: #F99B0C;
}	








@media(max-width: 575px){

	#category-section img {
		width: 40px;
		margin-left: 15px;
		margin-right: 10px;
		border-radius: 2px;
	}

	#category-section p{
		font-size: 12px;
		padding-top: 15px; 
		padding-bottom: 15px; 
		font-weight: 500;
	}


}



#allproducts-section .uk-card{
		width: 15rem;
}

#newproduct-section .uk-card{
	width: 15rem;
}



@media(max-width: 400px){


	#category-section img {
		width: 30px;
		margin-left: 15px;
		margin-right: 10px;
		border-radius: 2px;
	}
	#category-section .shadow-sm {
		width: 100px;
	}


	#allproducts-section .uk-button{
		padding-left:5px;
		padding-right:5px;
		margin: 0px;
		font-size: 12px;
	}

	#allproducts-section .uk-card{
		width: 10rem;
	}

	#allproducts-section h6{
		font-size: 13px;
	}

	#allproducts-section .uk-label{
		font-size: 12px;
	}


	#newproduct-section .uk-button{
		padding-left:5px;
		padding-right:5px;
		margin: 0px;
		font-size: 12px;
	}

	#newproduct-section .uk-card{
		width: 10rem;
	}

	#newproduct-section h6{
		font-size: 13px;
	}

	#newproduct-section .uk-label{
		font-size: 12px;
	}
}















